.listItemContainer {
  min-width: 300px;
  // width: 259px;
  height: 305px;
  background-color: #3D3D40;
  border-radius: 6px;
  filter: drop-shadow(0px 1px 2px #6c6c6d);
  cursor: pointer;

  .listItemButton {
    flex: 1;
    width: 100%;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: tranparent;
    cursor: pointer;
  }

  .listItemButton:active {
    border: 0;
  }

  .listItemButton:visited {
    border: 1px solid blue;
  }

  .list-item-title {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    font-family: 'Helvetica Neue Bold';
    font-size: 20px;
    color: #FFF;
    padding-top: 20px;
    text-transform: capitalize;
  }

  .list-item-image {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    .list-item-image-tag {
      width: 160px;
      height: 160px; 
      border-radius: 50%;
      margin: 10px;
    }
  }

  .list-item-added {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #6c6c6d;
    height: 56px;

    .poke-added {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #FFF;
    }

    .poke-added:hover {
      transform: scale(1.1);
      filter: drop-shadow(0px 3px 2px #6c6c6d);
    }

    .item-list-poke-added {
      background-color: rgb(240, 157, 157);
    }
  }
}

.listItemContainer:hover {
  transform: scale(1.2);
}