.headerContainer {
  display: flex;
  flex: 1;
  height: 160px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #FD2017; }
  .headerContainer .blackSlice {
    background-color: #3D3D40;
    display: flex;
    height: 11px;
    justify-content: flex-end;
    border-top: 1.5px solid #0A0808;
    border-bottom: 2px solid #0A0808; }
  .headerContainer .pokeball {
    position: relative;
    width: 126px height 126px; }
  .headerContainer .pokeball img {
    width: 126px;
    height: 126px;
    position: absolute;
    top: -75px;
    left: 40px;
    filter: drop-shadow(1px 2px 0.2rem #19191a); }
  .headerContainer .title {
    font-family: 'PokemonSolid';
    font-size: 48px;
    color: #FFF;
    margin-left: 40px;
    height: 50px;
    margin-bottom: 65px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 5px #171719; }
