html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  background: radial-gradient(#e0dede, #f39393); }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'PokemonSolid';
  src: local("PokemonSolid"), url(../../assets/fonts/PokemonSolid.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: local("helvetica-neue-bold"), url("../../assets/fonts/Helvetica Neue Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'helvetica-neue';
  src: local("helvetica-neue"), url(../../assets/fonts/helvetica-neue.ttf) format("truetype");
  font-style: normal;
  font-weight: normal; }

.container {
  display: flex;
  flex: 1;
  min-width: 50%;
  flex-direction: column;
  position: relative;
  background: linear-gradient(#e0dede, #BAB5B5);
  margin-right: auto;
  margin-left: auto;
  border: 1px solid red; }
