.infosContainer {
  flex: 1;
  font-family: 'helvetica-neue';

  .infosBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    .first-box-info {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-between;
      width: 60%;
      margin-top: 25px;
      height: auto;
    }

    .box-row {
      flex: 1;
      justify-content: center;
      align-items: center;
    }

    .divider {
      margin: 12px;
    }

    .box-row-title {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      color: rgb(82, 82, 87);
      height: 38px;
      font-family: 'Helvetica Neue Bold';
      font-size: 18px;
      border-bottom: 2px solid #A6A6B7;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .box-row-data {
      flex: 1;
      justify-content: center;
      padding: 15px;
      cursor: pointer;

      .item-box-data {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        margin: 10px;
        font-family: 'Helvetica Neue Bold';
        font-size: 14px;
        background-color: rgb(117, 117, 117);
        filter: drop-shadow(3px 2px 3px rgb(119, 87, 87));
        
        .item-box-data-type-button {
          color: #FFF;
          flex: 1;
          border: 0;
          background-color: transparent;
          padding: 10px;
          font-family: 'Helvetica Neue Bold';
          font-size: 14px;
          cursor: pointer;
        }
      }

      .item-box-data-ability {
        background-color: transparent;
        font-family: 'helvetica-neue';
        font-size: 16px;
        color: gray;
        filter: drop-shadow(0px 0px 0px rgb(119, 87, 87));
      }
      

      .item-box-data:hover {
        transform: scale(1.1);
      }

      .bug {
        background-color: #739F3F;
      }
      
      .dragon {
        background-color: #F06D58;
      }
      
      .fairy {
        background-color: #FCB9E7;
      }
      
      .fire {
        background-color: #FD7C24;
      }
      
      .ghost {
        background-color: #7C62A3;
      }
      
      .ground {
        background-color: #F7DF3F;
      }
      
      .normal {
        background-color: #A3ABB0;
      }
      
      .psychic {
        background-color: #F365B9;
      }
      
      .steel {
        background-color: #9DB8B8;
      }

      .dark {
        background-color: #71716F;
      }
      
      .electric {
        background-color: #EDD436;
      }

      .fighting {
        background-color: #D56623;
      }

      .flying {
        background-color: #3CC5EF;
      }

      .grass {
        background-color: #9BCD4F;
      }

      .ice {
        background-color: #50C5E7;
      }

      .poison {
        background-color: #B980CA;
      }

      .rock {
        background-color: #A28D21;
      }

      .water {
        background-color: #4592C6;
      }
    }

    .statsContainer {
      display: flex;
      flex: 1;
      flex-direction: row;
      width: 35%;
      margin-top: 10px;
    }
    
    .stats {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0.25px;
      line-height: 25px;
    }
    
    .statsLeft {
      align-items: flex-end;
    }

    .stats-item-left {
      text-align: right;
    }

    .stats-item {
      color: white;
      border: 0.5px solid #FFF;
      width: 100%;
      padding: 3px;
      padding-right: 5px;
      font-size: 16px;
      background-color: rgb(168, 166, 168);
    }

    
    .stats-item-left:first-child {
      border-top-left-radius: 10px;
    }
    
    .stats-item-left:last-child {
      border-bottom-left-radius: 10px;
    }
    
    .stats-right {
      padding-right: 0;
      padding-left: 5px;
    }

    .stats-right:first-child {
      border-top-right-radius: 10px;
    }

    .stats-right:last-child {
      border-bottom-right-radius: 10px;
    }

  }
}