.infosContainer {
  flex: 1;
  font-family: 'Helvetica Neue Bold';

  .infosBox {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;

    .first-box-info {
      display: flex;
      flex: 1;
      height: 40px;
      margin-top: 60px;
      font-size: 20px;
      font-weight: bold;
      color: #8888B0;
      font-family: 'Helvetica Neue Bold';
    }

    .seccond-box-info {
      display: flex;
      flex: 1;
      align-items: center;
      height: 60px;
      font-size: 20px;
      font-weight: bold;
      color: #5B3F3F;
      font-family: 'Helvetica Neue Bold';
      background-color: #D8D8D8;
      padding-right: 20px;
      padding-left: 20px;
      border: 1px solid #979797;
    }

    .third-box-info {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: space-between;
      width: 60%;
      margin-top: 25px;
      height: auto;
    }

    .box-row {
      flex: 1;
      justify-content: center;
      align-items: center;
    }

    .divider {
      margin: 12px;
    }

    .box-row-title {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      color: rgb(82, 82, 87);
      height: 38px;
      font-family: 'Helvetica Neue Bold';
      font-size: 18px;
      border-bottom: 2px solid #A6A6B7;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .box-row-data {
      flex: 1;
      justify-content: center;
      padding: 15px;

      .item-box-data {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 10px;
        font-size: 14px;
        color: #FFF;
        background-color: rgb(117, 117, 117);
        filter: drop-shadow(3px 2px 3px rgb(119, 87, 87));
      }

      .item-box-data:hover {
        transform: scale(1.1);
      }

      .bug {
        background-color: #739F3F;
      }
      
      .dragon {
        background-color: #F06D58;
      }
      
      .fairy {
        background-color: #FCB9E7;
      }
      
      .fire {
        background-color: #FD7C24;
      }
      
      .ghost {
        background-color: #7C62A3;
      }
      
      .ground {
        background-color: #F7DF3F;
      }
      
      .normal {
        background-color: #A3ABB0;
      }
      
      .psychic {
        background-color: #F365B9;
      }
      
      .steel {
        background-color: #9DB8B8;
      }

      .dark {
        background-color: #71716F;
      }
      
      .electric {
        background-color: #EDD436;
      }

      .fighting {
        background-color: #D56623;
      }

      .flying {
        background-color: #3CC5EF;
      }

      .grass {
        background-color: #9BCD4F;
      }

      .ice {
        background-color: #50C5E7;
      }

      .poison {
        background-color: #B980CA;
      }

      .rock {
        background-color: #A28D21;
      }

      .water {
        background-color: #4592C6;
      }
    }
  }
}