.detailsContainer:after {
  content: "";
  display: block;
  position: fixed;
  /* could also be absolute */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9); }

.detailsContainer {
  display: flex;
  flex: 1; }
  .detailsContainer .detailsCard {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 450px;
    background-color: #FFF;
    border-radius: 20px;
    filter: drop-shadow(0 5px 10px #252522);
    padding-bottom: 30px;
    z-index: 20;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .detailsContainer .detailsCard .topCard {
      display: flex;
      flex: 1;
      background-color: #3D3D40;
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
      flex-direction: column;
      position: relative; }
      .detailsContainer .detailsCard .topCard .closeCard {
        border: 1px solid #252522;
        border-radius: 50%;
        padding: 5px;
        background-color: #252522;
        position: absolute;
        top: 25px;
        right: 30px;
        filter: drop-shadow(0 5px 10px #252522);
        cursor: pointer; }
      .detailsContainer .detailsCard .topCard .closeCard:hover {
        transform: scale(1.1); }
      .detailsContainer .detailsCard .topCard .avatarBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 57px; }
        .detailsContainer .detailsCard .topCard .avatarBox .avatar-ball {
          width: 152px;
          height: 152px;
          border-radius: 116px;
          background-color: #D77474;
          border: 6px solid #DCD2D2;
          position: relative; }
          .detailsContainer .detailsCard .topCard .avatarBox .avatar-ball .avatar-upload {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 10px;
            right: 98px;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            background-color: #b19494;
            border: 1px solid #383333;
            cursor: pointer; }
            .detailsContainer .detailsCard .topCard .avatarBox .avatar-ball .avatar-upload .icon-upload {
              cursor: pointer; }
        .detailsContainer .detailsCard .topCard .avatarBox .avatar-img {
          border-radius: 50%;
          width: 152px;
          height: 152px;
          object-fit: fit; }
        .detailsContainer .detailsCard .topCard .avatarBox .iconChevron {
          display: flex;
          flex-wrap: wrap;
          flex: 1;
          flex-direction: column;
          align-items: center;
          cursor: pointer; }
        .detailsContainer .detailsCard .topCard .avatarBox .iconChevron:hover {
          filter: drop-shadow(1px 5px 7px #8F8F8F);
          transform: scale(1.1); }
        .detailsContainer .detailsCard .topCard .avatarBox .iconChevron div {
          font-family: 'Helvetica Neue Bold';
          font-size: 14px;
          color: #FFF;
          text-transform: capitalize; }
      .detailsContainer .detailsCard .topCard .avatarInfo {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        margin-top: 17px;
        margin-bottom: 30px; }
        .detailsContainer .detailsCard .topCard .avatarInfo .avatarName {
          font-family: 'Helvetica Neue Bold';
          font-size: 18px;
          color: #FFF;
          text-transform: capitalize; }
        .detailsContainer .detailsCard .topCard .avatarInfo .avatarHW {
          font-family: 'Helvetica Neue Bold';
          font-size: 14px;
          color: #A49C9C;
          line-height: 32px; }
    .detailsContainer .detailsCard .buttonContainer {
      height: 0;
      cursor: pointer; }
      .detailsContainer .detailsCard .buttonContainer .buttonAligner {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: flex-start;
        position: relative; }
    .detailsContainer .detailsCard .bottomContainer {
      margin-top: 20px;
      display: flex;
      flex: 1;
      flex-direction: column;
      height: auto; }
